            /* GENERAL STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* UTILITIES */
.float-r{
    float: right;
}
.bg-grey{
    background-color: #f6f6f6;
}
.pd-top{
    padding-top: 50px;
}
.pd-bottom{
    padding-bottom: 40px;
}
.container{
    height: 800px;
    position: relative;
}
.contained{
    width: 60%;
    margin: auto;
    position: relative;
    border: 1px solid black;
}
.vertical-cent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link-underline:hover{
    text-decoration: underline;
}
.button{
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
}
.btn-small{
    margin-left: 150px;
}
.btn-black{
    color: #fff;
    background-color: #000;
}
.btn-big{
    margin: 0 15px;
    padding: 20px 25px;
    font-size: 20px;
}
.clearfix::after{
    clear: both;
    content: '';
    display: table;
}
/* HEADER */
header{
    height: 100px;
    background-color: #255ee9;
}
header .logo{
    width: 30%;
    height: 100px;
    line-height: 100px;
    display: inline-block;
}
.logo-img{
    width: 150px;
    vertical-align: middle;
}
header .nav-menu{
    float: right;
    width: 70%;
    line-height: 100px;
}
header .nav-menu li{
    display: inline-block;
    margin-right: 70px;
}
header .nav-menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav-menu{
    position: relative;
}
/* TOP CONTAINER */
.container.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}
.explain h1{
    font-size: 50px;
}
.explain{
    color: #fff;
    width: 30%;
    margin: auto;
    text-align: center; 
}
.explain p{
    line-height: 40px;
    font-size: 20px;
}
/* FIRST CONTAINER */
.item-text{
    width: 30%;
    padding-top: 30px;
    border: 1px solid black;
}
.item-text h1{
    font-size: 60px;
}
.item-text p{
    padding-top: 30px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 500;
}
.item-img{
    display: inline-block;
    width: 70%;
    text-align: center;
    border: 1px solid black;
}